body {
  margin: 0;
  padding: 0;

  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

li.completed {
  text-decoration: line-through;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul::after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

footer li {
  float: left;
}
footer li::before {
  content: ', ';
}
footer li:first-child::before {
  content: '';
}
